---
import '../styles/global.css';
import TestimonialCard from '../components/TestimonialCard.astro';
import Avatar from '../components/Avatar.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- displays site properly based on user's device -->

    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./images/favicon-32x32.png'
    />

    <title>Frontend Mentor | Testimonials Grid Section</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');
    </style>
  </head>
  <body
    class='min-h-screen bg-light-grayish-blue px-6 py-[4.4375rem] font-barlow-semi-condensed text-[.8125rem]'
  >
    <main class='flex flex-col gap-6'>
      <TestimonialCard
        class='bg-moderate-violet bg-[url(/images/bg-pattern-quotation.svg)] bg-[90%_top] bg-no-repeat text-white'
        name='Daniel Clifford'
        testimonialTitle={`I received a job offer mid-course, and the
      subjects I learned were current, if not more so, in the company I joined. I
      honestly feel I got every penny’s worth.`}
        testimonialText={`“ I was an EMT for many years before I joined the bootcamp. I’ve been looking
      to make a transition and have heard some people who had an amazing experience
      here. I signed up for the free intro course and found it incredibly fun! I
      enrolled shortly thereafter. The next 12 weeks was the best - and most grueling
      - time of my life. Since completing the course, I’ve successfully switched
      careers, working as a Software Engineer at a VR startup. “`}
      >
        <Avatar
          class='border-2 border-violet'
          imgUrl='/images/image-daniel.jpg'
          imgAlt="Daniel Clifford's avatar"
        />
      </TestimonialCard>
      <TestimonialCard
        class='bg-very-dark-grayish-blue text-white'
        name='Jonathan Walters'
        testimonialTitle={`The team was very supportive and kept me
      motivated`}
        testimonialText={`“ I started as a total newbie with virtually no coding skills. I
      now work as a mobile engineer for a big company. This was one of the best investments
      I’ve made in myself. “`}
      >
        <Avatar
          imgUrl='/images/image-jonathan.jpg'
          imgAlt="Jonathan Walter's avatar"
        />
      </TestimonialCard>
      <TestimonialCard
        class='bg-white text-very-dark-grayish-blue'
        name='Jeanette Harmon'
        testimonialTitle={`An overall wonderful and rewarding experience`}
        testimonialText={`“ Thank you for the wonderful
      experience! I now have a job I really enjoy, and make a good living while doing
      something I love. “`}
      >
        <Avatar
          imgUrl='/images/image-jeanette.jpg'
          imgAlt="Jeanette Harmon's avatar"
        />
      </TestimonialCard>
      <TestimonialCard
        class='bg-very-dark-blackish-blue text-white'
        name='Patrick Abrams'
        testimonialTitle={`Awesome teaching support from TAs who did
      the bootcamp themselves. Getting guidance from them and learning from their
      experiences was easy.`}
        testimonialText={`“ The staff seem genuinely concerned about my progress which I find really
      refreshing. The program gave me the confidence necessary to be able to go out
      in the world and present myself as a capable junior developer. The standard
      is above the rest. You will get the personal attention you need from an incredible
      community of smart and amazing people. “`}
      >
        <Avatar
          class='border-2 border-moderate-violet'
          imgUrl='/images/image-patrick.jpg'
          imgAlt="Patrick Abrams' avatar"
        />
      </TestimonialCard>
      <TestimonialCard
        class='bg-white text-very-dark-grayish-blue'
        name='Kira Whittle'
        testimonialTitle={`Such a life-changing experience. Highly recommended!`}
        testimonialText={`“ Before joining the bootcamp, I’ve never written a line of code. I needed
      some structure from professionals who can help me learn programming step
      by step. I was encouraged to enroll by a former student of theirs who can
      only say wonderful things about the program. The entire curriculum and
      staff did not disappoint. They were very hands-on and I never had to wait
      long for assistance. The agile team project, in particular, was
      outstanding. It took my learning to the next level in a way that no
      tutorial could ever have. In fact, I’ve often referred to it during
      interviews as an example of my developent experience. It certainly helped
      me land a job as a full-stack developer after receiving multiple offers.
      100% recommend! “`}
      >
        <Avatar
          imgUrl='/images/image-kira.jpg'
          imgAlt="Kira Whittle's avatar"
        />
      </TestimonialCard>
    </main>

    <footer>
      <p class='mt-6 text-center text-xs'>
        Challenge by <a
          class='text-blue-400 underline'
          href='https://www.frontendmentor.io?ref=challenge'
          target='_blank'
        >
          Frontend Mentor
        </a>. Coded by <a
          class='text-blue-400 underline'
          href='https://www.frontendmentor.io/profile/AnonymousCoder323'
          >Anonymous Coder</a
        >.
      </p>
    </footer>
  </body>
</html>
